<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>{{mars.title1}}</title>
   <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

 </head>
 <body>
     <p>
       <a class="btn btn-primary btn-lg" href="/" role="button">
         Back to Homepage
       </a>
     </p>
   <img
    src="{{mars.img_url1}}"
    class="img-responsive"
    alt="Responsive image"
    />


 </body>
</html>
